<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li>Welcome</li>
      </ul>
      <h2>Welcome to Junub Academy</h2>
    </div>
  </div>
  <div class="shape9"><img src="img/shape8.svg" alt="image"></div>
</div>

<div class="profile-authentication-area ptb-100">
  <div class="container">
    <div class="row" *ngIf="!isLoggedIn">
      <div class="col-lg-6 col-md-12">
        <div class="login-form">
          <h2>Login</h2>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="Email"> Email </label>
              <input type="text" id="Email" formControlName="Email" class="form-control" required
                placeholder="abc@gmail.com">
              <div *ngIf="registerForm.get('Email')?.touched && registerForm.get('Email')?.invalid">
                <small class="text-danger" *ngIf="registerForm.get('Email')?.hasError('required')">Email
                  is required.</small>
                <small class="text-danger" *ngIf="registerForm.get('Email')?.hasError('pattern')">Please enter a
                  valid Email.</small>
              </div>
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="Password" id="Password" formControlName="Password" class="form-control" required>
              <div *ngIf="loginForm.get('Password')?.touched && loginForm.get('Password')?.invalid">
                <small class="text-danger" *ngIf="loginForm.get('Password')?.hasError('required')">Password is
                  required.</small>
                <small class="text-danger" *ngIf="loginForm.get('Password')?.hasError('minlength')">Password must be at
                  least 6 characters long.</small>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button> <br>
            <button  class="btn btn-primary" (click)="openForgotPasswordDialog()">
              Forgot Password
            </button>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="register-form">
          <h2>Register</h2>
          <form [formGroup]="registerForm" (ngSubmit)="register()">
             <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" placeholder="Enter name" formControlName="Name"
                required>
              <div *ngIf="registerForm.get('Name')?.touched && registerForm.get('Name')?.invalid">
                <small class="text-danger" *ngIf="registerForm.get('Name')?.hasError('required')">Name
                  is required.</small>
                <small class="text-danger" *ngIf="registerForm.get('Name')?.hasError('pattern')">Please enter a
                  valid Name.</small>
              </div>
              </div>
            <div class="form-group">
              <label>Mobile Number</label>
              <input type="number" class="form-control" placeholder="10 digit mobile number" formControlName="MobileNumber"
                required>
              <div *ngIf="registerForm.get('MobileNumber')?.touched && registerForm.get('MobileNumber')?.invalid">
                <small class="text-danger" *ngIf="registerForm.get('MobileNumber')?.hasError('required')">Mobile number
                  is required.</small>
                <small class="text-danger" *ngIf="registerForm.get('MobileNumber')?.hasError('pattern')">Please enter a
                  valid 10-digit mobile number.</small>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Your email address" formControlName="Email"
                  required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="Password" class="form-control" placeholder="Password" formControlName="Password" required>
                <div *ngIf="registerForm.get('Password')?.touched && registerForm.get('Password')?.invalid">
                  <small class="text-danger" *ngIf="registerForm.get('Password')?.hasError('required')">Password is
                    required.</small>
                  <small class="text-danger" *ngIf="registerForm.get('Password')?.hasError('minlength')">Password must
                    be at
                    least 6 characters long.</small>
                </div>
              </div>
              <button type="submit">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div  class="row profile-data" *ngIf="isLoggedIn">
      <div class="col-lg-12 col-md-12">
        <h2>Welcome, {{ user?.firstname }} {{ user?.lastname }}</h2>
        <p>Your mobile number: {{ user?.mobile }}</p>
        <p>Your email: {{ user?.email }}</p>
        <div>
          <button mat-raised-button color="primary" (click)="logout()">Logout</button> &nbsp; &nbsp;
          <button *ngIf="isLoggedIn" class="btn btn-primary" mat-raised-button  (click)="openChangePasswordDialog()">
            Change Password
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="login-form">
                    <h2>Login</h2>
                    <form>
                        <div class="form-group">
                            <label>Username or email</label>
                            <input type="text" class="form-control" placeholder="Username or email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="Password" class="form-control" placeholder="Password">
                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6 col-sm-6 remember-me-wrap">
                                <p>
                                    <input type="checkbox" id="test2">
                                    <label for="test2">Remember me</label>
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 lost-your-Password-wrap">
                                <a routerLink="." class="lost-your-Password">Forgot Password?</a>
                            </div>
                        </div>
                        <button type="submit">Log In</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="register-form">
                    <h2>Register</h2>
                    <form>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" placeholder="Username or email">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Username or email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="Password" class="form-control" placeholder="Password">
                        </div>
                        <p class="description">The Password should be at least eight characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ & )</p>
                        <button type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->