.login-form {
  padding: 40px 30px;
  border-radius: 5px;
  background-color: var(--whiteColor, #fff);
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
  width: 100%;
  max-width: 400px;
  margin: auto;

  h2 {
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
      width: 100%;
      padding: 0 10px;
      margin-bottom: 20px;

      label {
        display: block;
        margin-bottom: 6px;
        color: var(--blackColor, #333);
        font-weight: 700;
      }

      .mat-form-field {
        width: 100%;
      }
    }

    .dialog-actions {
      display: flex;
      justify-content: center;
      gap: 16px;
      padding: 0 10px;
      margin-top: 10px;

      button {
        border: none;
        color: var(--whiteColor, #fff);
        background-color: var(--mainColor, #3f51b5);
        transition: 0.3s;
        border-radius: 5px;
        padding: 12px 24px;
        font-weight: 700;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          background-color: var(--blackColor, #222);
        }

        &.cancel-btn {
          background-color: #ccc;
          color: #333;

          &:hover {
            background-color: #999;
            color: #fff;
          }
        }
      }
    }
  }
}


::ng-deep .mat-mdc-form-field {
  display: block !important;
}
