<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink=".">Development</a></li>
                <li>{{ subCourseDetails?.title || 'Course Details' }}</li>
            </ul>
            <h2>{{ subCourseDetails?.title || 'Course Details' }}</h2>
            <div class="rating">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <div class="rating-count">
                    <span>4.0 (1 rating)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="shape9"><img src="img/shape8.svg" alt="image"></div>
</div>

<div *ngIf="loading" class="text-center my-5">
    <span>Loading course details...</span>
</div>
<div *ngIf="!loading && subCourseDetails" class="courses-details-area pb-100">
    <div class="courses-details-image">
        <img [src]="subCourseDetails?.image || 'img/courses/course-details.jpg'" alt="image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="courses-details-desc">
                    <ul class="nav-tabset">
                        <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab1'}">
                            <span (click)="switchTab($event, 'tab1')">
                                Overview
                            </span>
                        </li>
                        <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab2'}">
                            <span (click)="switchTab($event, 'tab2')">
                                Curriculum
                            </span>
                        </li>
                        <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab3'}">
                            <span (click)="switchTab($event, 'tab3')">
                                Instructor
                            </span>
                        </li>
                        <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab4'}">
                            <span (click)="switchTab($event, 'tab4')">
                                Reviews
                            </span>
                        </li>
                    </ul>
                    <div class="tabs-container">
                        <!-- Overview Tab -->
                        <div class="pane" id="tab1" *ngIf="currentTab === 'tab1'">
                            <div class="courses-overview">
                                <h3>Course Overview</h3>
                                <div [innerHTML]="subCourseDetails?.overview"></div>
                            </div>
                        </div>
                        <!-- Curriculum Tab -->
                        <div class="pane" id="tab2" *ngIf="currentTab === 'tab2'">
                            <div class="courses-curriculum">
                                <h3>Curriculum</h3>
                                <ul *ngIf="subCourseDetails?.curriculum?.length; else noCurriculum">
                                    <li *ngFor="let lesson of subCourseDetails.curriculum">
                                        <strong>{{ lesson.title }}</strong>
                                        <span *ngIf="lesson.duration"> - {{ lesson.duration }}</span>
                                        <button *ngIf="lesson.previewUrl" (click)="openPreview(lesson.previewUrl)">Preview</button>
                                    </li>
                                </ul>
                                <ng-template #noCurriculum>No curriculum available.</ng-template>
                            </div>
                        </div>
                        <!-- Instructor Tab -->
                        <div class="pane" id="tab3" *ngIf="currentTab === 'tab3' && subCourseDetails?.instructor">
                            <div class="courses-instructor">
                                <div class="single-advisor-box">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="advisor-image">
                                                <img *ngIf="subCourseDetails.instructor.image" [src]="subCourseDetails.instructor.image" alt="Instructor" />
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8">
                                            <div class="advisor-content">
                                                <h3>{{ subCourseDetails.instructor.name }}</h3>
                                                <span class="sub-title">{{ subCourseDetails.instructor.bio }}</span>
                                                <div *ngIf="subCourseDetails.instructor.socialLinks">
                                                    <a *ngFor="let link of subCourseDetails.instructor.socialLinks" [href]="link.url" target="_blank">{{ link.platform }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Reviews Tab -->
                        <div class="pane" id="tab4" *ngIf="currentTab === 'tab4'">
                            <div class="courses-reviews">
                                <h3>Reviews</h3>
                                <div *ngIf="subCourseDetails?.reviews?.length; else noReviews">
                                    <div *ngFor="let review of subCourseDetails.reviews">
                                        <strong>{{ review.user }}</strong>: {{ review.comment }} ({{ review.rating }}/5)
                                    </div>
                                </div>
                                <ng-template #noReviews>No reviews yet.</ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="courses-details-info">
                    <div class="image">
                        <img [src]="subCourseDetails?.image || 'img/courses/img1.jpg'" alt="image">
                        <div class="content" (click)="openPopup()">
                            <i class="flaticon-play"></i>
                            <span>Course Preview</span>
                        </div>
                    </div>
                    <ul class="info">
                        <li class="price">
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-tag"></i> Price</span>
                                {{ subCourseDetails?.price }} SSP
                            </div>
                        </li>
                        <li *ngIf="subCourseDetails?.instructor">
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-teacher"></i> Instructor</span>
                                {{ subCourseDetails?.instructor.name }}
                            </div>
                        </li>
                        <li *ngIf="subCourseDetails?.duration">
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-time"></i> Duration</span>
                                {{ subCourseDetails?.duration }}
                            </div>
                        </li>
                        <li *ngIf="subCourseDetails?.lessons">
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-distance-learning"></i> Lessons</span>
                                {{ subCourseDetails?.lessons }}
                            </div>
                        </li>
                        <li *ngIf="subCourseDetails?.enrolled">
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-web"></i> Enrolled</span>
                                {{ subCourseDetails?.enrolled }} students
                            </div>
                        </li>
                        <li *ngIf="subCourseDetails?.access">
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-lock"></i> Access</span>
                                {{ subCourseDetails?.access }}
                            </div>
                        </li>
                    </ul>
                    <div class="btn-box">
                        <a routerLink="/single-course-1" class="default-btn"><i class="flaticon-shopping-cart"></i>Add to Cart<span></span></a>
                        <a routerLink="/single-course-1" class="default-btn"><i class="flaticon-tag"></i>Buy Now<span></span></a>
                    </div>
                    <div class="courses-share">
                        <div class="share-info">
                            <span>Share This Course <i class="flaticon-share"></i></span>
                            <ul class="social-link">
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="courses-area bg-f8f9f8 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>More Courses You Might Like</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-course-1" class="d-block image">
                            <img src="img/courses/img1.jpg" alt="image">
                        </a>
                        <a routerLink="." class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$39</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Alex Morgan</span>
                        </div>
                        <h3><a routerLink="/single-course-1">The Data Science Course 2025: Complete Data Science Bootcamp</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                            <li><i class='flaticon-people'></i> 145 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-course-1" class="d-block image">
                            <img src="img/courses/img2.jpg" alt="image">
                        </a>
                        <a routerLink="." class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$49</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="img/user2.jpg" class="rounded-circle" alt="image">
                            <span>Sarah Taylor</span>
                        </div>
                        <h3><a routerLink="/single-course-1">Java Programming Masterclass for Software Developers</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 100 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-course-1" class="d-block image">
                            <img src="img/courses/img3.jpg" alt="image">
                        </a>
                        <a routerLink="." class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$59</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="img/user3.jpg" class="rounded-circle" alt="image">
                            <span>David Warner</span>
                        </div>
                        <h3><a routerLink="/single-course-1">Deep Learning A-Z™: Hands-On Artificial Neural Networks</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 150 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Video Popup -->
<div
    class="video-popup position-fixed d-flex align-items-center justify-content-center text-center top-0 start-0 end-0 bottom-0"
    *ngIf="isOpen"
>
    <div class="popup-inner bg-white position-relative mx-auto">
        <iframe src="https://www.youtube.com/embed/YDXQ_nociO4" title="Web Design Trends 2025" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <button (click)="closePopup()" type="button" class="close-btn p-0 border-0 d-flex align-items-center justify-content-center rounded-circle">
            <i class='bx bx-x'></i>
        </button>
    </div>
</div>